html, body {
    height: 100vh;
}

.page-background {
    background-color: #f3f5f7 !important;
}

.full-height {
    height: 100vh !important;
}

.full-height > .ui.grid {
    height: 100vh;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 42.5vh;
}

.notes-spacing {
    margin: 0 0 0 !important;
}

.row-height {
    min-height: 94vh;
}

.scroll::-webkit-scrollbar {
    width: 0 !important
}

.ui.segments.scroll {
    margin-top: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-left: -1px;
    margin-right: -1px;
}

.scroll > .ui.segments {
    margin-top: 1em !important;
    border: none !important;
}

.ui.segments.scroll > .ui.segments {
    border: none !important;
}

.inboundHeader {
    border-top: none !important;
}

.date-display {
    display: inline-block;
}

.uv-very-high, .red-text {
    color: red;
}

.uv-high {
    color: orangered;
}

.uv-normal, .yellow-text {
    color: goldenrod;
}

.uv-low, .green-text {
    color: green;
}

.bold {
    font-weight: bold;
}

.smallerText {
    font-size: .8em;
}

.tiny-text {
    font-size: .5em;
    padding-top: .75em;
    margin-bottom: -2.3em;
}

.collapsing {
    flex: 0 !important;
}

.padded-left {
    padding-left: .5em;
}

.svg-div {
    min-width: 6.5em !important;
    min-height: 6.5em !important;
}

@media (min-width: 1920px) {

    body {
        overflow: hidden;
        background-color: #f3f5f7;
    }

    .massive-larger {
        font-size: 2em !important;
    }

    .table-font {
        font-size: 1.5em !important;
    }

    .date-text {
        font-size: 2.8em !important;
    }

    .expanded {
        min-height: 17em;
    }

    .wind-text {
        font-size: 1.8em;
        padding-bottom: .5em;
    }
}

@media (max-width: 1919px) {

    body {
        background-color: #f3f5f7;
    }

    .date-text {
        font-size: 2.5em !important;
    }

    .wind-text {
        font-size: 1.5em;
        padding-bottom: .5em;
    }
}

.side-notes {
    height: 100%
}

.notes {
    min-width: 19em !important;
    max-width: 40% !important;
    min-height: 5em;
}

.scrollSpacer {
    padding: 2em;
}

.radar {
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
}

.margin-container {
    padding-top: 2.5em !important;
    padding-left: 4.3em !important;
    padding-right: 3.3em !important;
}